<div class="container">
  <div class="title text-center">
    <h1>Yu-Learning</h1>
    <h3>Learning should be joyful</h3>
  </div>
  <div class="card-container" fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayout.sm="column"
       fxLayout.xs="column">
    <mat-card class="card">
      <h1 class="card__title">Science</h1>
      <img class="card__img"
           src="https://media.istockphoto.com/vectors/big-collection-of-elements-symbols-and-schemes-of-physics-vector-id513480122?s=612x612">
      <p class="card__description">Find related tutorials for Chemistry, Physics and Biology here</p>
    </mat-card>
    <mat-card class="card">
      <h1 class="card__title">Science</h1>
      <img class="card__img"
           src="https://media.istockphoto.com/vectors/big-collection-of-elements-symbols-and-schemes-of-physics-vector-id513480122?s=612x612">
      <p class="card__description">Find related tutorials for Chemistry, Physics and Biology here</p>
    </mat-card>
    <mat-card class="card">
      <h1 class="card__title">Science</h1>
      <img class="card__img"
           src="https://media.istockphoto.com/vectors/big-collection-of-elements-symbols-and-schemes-of-physics-vector-id513480122?s=612x612">
      <p class="card__description">Find related tutorials for Chemistry, Physics and Biology here</p>
    </mat-card>
    <mat-card class="card">
      <h1 class="card__title">Science</h1>
      <img class="card__img"
           src="https://media.istockphoto.com/vectors/big-collection-of-elements-symbols-and-schemes-of-physics-vector-id513480122?s=612x612">
      <p class="card__description">Find related tutorials for Chemistry, Physics and Biology here</p>
    </mat-card>
    <mat-card class="card">
      <h1 class="card__title">Science</h1>
      <img class="card__img"
           src="https://media.istockphoto.com/vectors/big-collection-of-elements-symbols-and-schemes-of-physics-vector-id513480122?s=612x612">
      <p class="card__description">Find related tutorials for Chemistry, Physics and Biology here</p>
    </mat-card>
  </div>
</div>
