.title {
  color: darkred;
}
.text-center{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card{
  background-color:lavenderblush;
  max-width: 350px;
  max-height: 350px;
  margin-top: 20px;
  &__title {
    color:cornflowerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__img {
    max-width: 350px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover{
      opacity: 80%;
    }
  }
  &__description{
    color: black;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-blue {
  background-color: blue;
    opacity: 80%;
  }
}

